body {
  padding-top: 50px;
}
.thumbnail {
  float: left;
  width: 25%;
  height: 250px;
  position: relative;
}
.thumbnail_image {
  max-height: 180px;
}
@media (max-width: 480px) {
  .thumbnail, .home {
    width: 50%;
  }
}
p {
  font-size: 12px;
}
.user {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.modal-title {
  display: inline-block;
}
.center-button {
  text-align: center;
  margin: 20px 0;
}